*
{
	padding:0;
	margin:0;
}
.heading_content_page
{
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	color: #f18800;
	font-family: 'Raleway', sans-serif;
	margin-top: 20px !important;
	margin-bottom: 15px !important;
}
.subheading_content_page
{
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	color:#dc013d;
	font-family:'Raleway', sans-serif;
}
.subheading2_content_page
{
	font-size: 14px;font-weight:500; color:#000000;font-family:'Raleway', sans-serif; line-height:16px;margin-bottom:3px;
}
.text_content_page
{
	font-size: 14px;font-weight:300; color:#231F20; font-family:'Raleway', sans-serif; letter-spacing: 0.25px; line-height: 18px;
}
a{
	color:#f18800;
}
a:hover{
	color:#f18800;
}

.black_underline_link
{
	color:#231F20;
	text-decoration:underline;
	font-family:'Raleway', sans-serif;
	font-size: 14px;font-weight:300;
}