<div id="template-welcome">
<div class="row-fluid">
    <div class="span12">
   	  	<img src="http://stkildafestival.com.au/2015-s2/images/avatar.jpg" alt="" width="100" height="100" />    
      	<p class="heading_content_page">Heading</p><br/>
      	<p class="subheading_content_page">SUBHEADING</p><br/>
      	<p class="subheading2_content_page">Secondary Heading</p><br/>
      	<p class="text_content_page">Body copy.Solutet is eari beruptinis suntintex et apidello dunt quiae corecuin parisci unt eiumqui que preperiae dessi cone quaerio bernam sah, volorpo runtibusant dolorent bar volupta erumqua tusaestrunt alibusd aprate cuscidi rehentet, que nos duciistor sediori nosanderit lacilitaedita tureres sum que mott.</p><br/>
      	<p class="text_content_page"><a class="black_underline_link">Read More</a></p>
    </div>
</div>
</div>
